/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
    resize: vertical;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* background: rgba(128, 0, 128, 0.05); */
}

/* color */
:root {
    --bg-primary: #800080;
    --bg-secondary: #cd49498f;
    --bg-black: #27272A;
    --bg-white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}


/* =============================  Header  ================================= */
.top-bg {
    background: linear-gradient(180deg, #fff, #86008626);
    position: relative;
}


.top-bg:before {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 50%;
    background: linear-gradient(180.19deg, #fff, #f1fbec3b);
    content: "";
    z-index: 0;
}

.main-menu .nav-link {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0px !important;
    color: var(--bg-black);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
    margin: 0px 22px;
}

.single_blog h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #323232;
}

.right-side-menu .nav-link {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 5px !important;
    color: var(--bg-black);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #800080;
    font-size: 16px;
    letter-spacing: -.31px;
    border-radius: 6px;
}


.main-menu .nav-link:hover:before {
    opacity: 1;
    height: 3px;
}

.main-menu .nav-link:hover {
    color: var(--bg-primary) !important;
}

.navbar-toggler i {
    font-size: 20px;
    color: #3f3f3f;
}

/* =============================  Banner  ================================= */

.banner-content {
    position: relative;
    z-index: 1;
}

.banner-content h2 {
    background: linear-gradient(90deg, #fc1f8d, var(--bg-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 8.75px;
    font-family: 'Poppins', sans-serif;
}

.banner-content p {
    font-size: 15px;
    color: #666;
    line-height: 27px;
    margin: 0;
}

.banner-content .btn {
    text-transform: uppercase;
    font-weight: 600;
}

.btn_primary {
    border-radius: 8px;
    background: linear-gradient(90deg, #800080, #ea00ea);
    color: #FFF !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 24px;
    transition: all 0.3s ease;
    border: none;
}

.btn_secondary {
    border-radius: 8px;
    border: 1px solid var(--bg-primary) !important;
    color: var(--bg-primary) !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px 20px;
    transition: all 0.3s ease;
    background: transparent !important;
}


.btn_primary:hover,
.btn_secondary:hover {
    color: var(--bg-white);
    transform: scale(1.035);
}

/* =============================  highlights book  ================================= */

.section_heading h4 {
    color: var(--bg-primary);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.25px;
    margin: 0;
}

.heading_divider img {
    max-width: 100%;
}

.highlights_book img {
    border-radius: 20px;
}


.highlights_book .swiper-button-next,
.highlights_book .swiper-button-prev {
    color: #fff;
    background: #800080;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.highlights_book .swiper-button-prev:after,
.highlights_book .swiper-button-next:after {
    font-size: 18px;
}


.highlights_book .swiper-slide {
    text-align: center !important;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 350px;
    border-radius: 20px !important;
    overflow: hidden;
}

.highlights_book .swiper-slide img {
    width: auto !important;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px !important;
    overflow: hidden;
}


/* =============================  book of the month  ================================= */
.book_of_month {
    text-align: center !important;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 440px;
}

.book_of_month a {
    position: relative;
    display: block;
}

.book_of_month a:before {
    position: absolute;
    content: "";
    border-radius: 20px;
    background: url('../images/books/1.png'), lightgray 50% / cover no-repeat;
    box-shadow: 0 6px 30px 5px hsla(0, 0%, 87%, .42);
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: block;
    opacity: .1;
}

.book_of_month img {
    border-radius: 20px;
    transform: translate(38px, 26px);
    width: auto !important;
    max-height: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* =============================  Category  ================================= */

.categories_sec {
    background: #fff;
    padding-bottom: 80px !important;
}

.category_item {
    background: #fff;
    padding: 15px 10px;
    border: 1px dashed #8000801a;
}


.category_item:before,
.category_item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    /* border-radius: 12px; */
    left: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.category_item:before {
    border-left: 1px dashed var(--bg-primary);
    border-right: 1px dashed var(--bg-primary);
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
}

.category_item:after {
    border-top: 1px dashed var(--bg-primary);
    border-bottom: 1px dashed var(--bg-primary);
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
}

.category_item:hover:before,
.category_item:hover:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    z-index: 1;
}

.category_item .category_name a {
    font-size: 16px;
    color: var(--bg-primary);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.category_item .category_icon img {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.category_item:hover .category_icon img {
    transform: scale(1.1);
}


/* =============================  Become a premium member  ================================= */

.become_premium_member {
    background: #ffffff;
}

.premium_content {
    padding: 80px 0px;
}

.premium_content h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, var(--bs-pink), var(--bg-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.premium_content p {
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* =============================  Footer  ================================= */

.footer {
    background: var(--bg-primary);
    position: relative;
    padding: 44px 0px;
}

.copyright p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
    margin: 0;
}


.social_links ul li {
    margin-right: 16px;
}

.social_links ul li:last-child {
    margin: 0;
}

.social_links ul li img {
    width: 32px;
    height: 32px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.social_links ul li a:hover img {
    transform: scale(1.1);
}

.footer_logo {
    background: #fff;
    border-radius: 100px;
    border: 3px solid var(--bg-primary);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 150px;
}

/* =============================  breadcrumb  ================================= */

.breadcrumb-item h4 {
    color: #323232;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
}

.breadcrumb-item img {
    max-width: 100%;
}

/* =============================  sigin  ================================= */

.signin-sec {
    min-height: 560px;
}

.signin_form form {
    max-width: 26rem;
    margin: auto;
    background: #fff;
    padding: 0px 20px;
    border-radius: 6px;
    border: 1px solid #f7f7f7;
}

label {
    color: #323232;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.custom_form {
    border-radius: 8px;
    background: #FFF;
    padding: 10px 10px;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #CCC;
    width: 100%;
}

.signin_form .btn_primary {
    font-size: 16px;
}

.signin_form .input-group-text {
    padding: 0;
    border-left: none !important;
    width: 45px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.custom_form:focus {
    border-color: var(--bg-primary);
}

.custom_form::placeholder {
    color: #e4e3e3;
}

.have_account {
    font-size: 14px;
    margin: 0;
    color: #444;
    font-family: 'Poppins';
}

.have_account a {
    color: var(--bg-primary);
}

.shape_divider img {
    max-width: 100%;
}

.social_login a {
    border-radius: 6px;
    background: var(--bg-primary);
    display: inline-block;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 5px 10px;
    max-width: 150px;
    width: 150px;
}

.shape_divider span {
    color: #AAA;
    font-size: 15px;
    font-family: 'Poppins';
}

/* =============================  faq  ================================= */
.faq-sec {
    min-height: 560px;
}

.faq-question .accordion-item {
    margin-bottom: 7px;
    border: none !important;
    border-radius: 6px;
    background: #fff;
}

.faq-question .accordion-button {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #dcd9d9 !important;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #323232;
    padding: 18px 18px;
}

.faq-question .accordion-button:not(.collapsed) {
    background: rgba(128, 0, 128, 0.13) !important;
}

.faq-question .accordion-body p {
    margin: 0;
    font-size: 14px;
    line-height: 29px;
    text-align: justify;
    color: #333;
}


.faq-question .accordion-button::after {
    background-image: none !important;
    content: "\2b";
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    transform: rotate(0) !important;
    font-family: 'Font Awesome 5 Free';
}


.faq-question .accordion-button:not(.collapsed)::after {
    content: "–";
    font-weight: 600;
}

/* =============================  pricing  ================================= */

.pricing-card {
    border-radius: 20px;
    background: #FFF;
    padding: 20px;
    border: 1px solid #EEE;
}


.pricing-card h3 {
    color: #323232;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 0px;
}

.pricing-card h6 {
    color: #940094;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}


.pricing-card ul li {
    font-size: 15px;
    color: #585858;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 36px;
}

.package-sec {
    min-height: 560px;
}


.register_with a {
    border-radius: 12px;
    border: 2px solid #8000801f;
    display: inline-block;
    color: #323232;
    padding: 10px 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-width: 136px;
    width: 121px;
    margin-bottom: 8px;
}

.register_with a.active {
    background: #800080;
    color: #fff;
    border: transparent;
}


/* =============================  blog  ================================= */
.article-card {
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    border: none;
}

.article-card .card-image .post-info {
    position: absolute;
    right: 0;
    top: -5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.article-card .card-image .post-info span {
    display: inline-block;
    line-height: 1.3;
    font-size: 12px;
    padding: 3px 8px;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 0;
    font-family: 'Poppins';
    margin-top: 5px;
}

.article-card .post-meta li a {
    display: inline-block;
    background-color: rgba(19, 19, 19, 0.05);
    color: black;
    text-transform: capitalize;
    padding: 2px 8px;
    margin-right: 2px;
    font-size: 13px;
    border-radius: 10px;
    font-family: 'Poppins';
}

.article-card .post-title {
    color: #323232 !important;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#3deaa4, #3deaa4);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    font-size: 18px;
    background-size: 0% 8px;
    transition: background-size 0.3s;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.article-card .content a {
    color: inherit !important;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(var(--bg-primary), var(--bg-primary));
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: 0.3s;
    color: #323232 !important;
}


.article-card h2 {
    line-height: 27px;
}


.card.article-card p {
    font-size: 14px;
    color: #888;
    line-height: 23px;
}

.pagination {
    justify-content: center;
}

.pagination .page-item a,
.pagination .page-item span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 0 4px;
    font-weight: 500;
    color: #131313;
    padding: 0;
    line-height: 41px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.pagination .page-item a:focus,
.pagination .page-item span:focus .pagination .page-item a:hover,
.pagination .page-item span:hover {
    box-shadow: none;
    background: var(--bg-primary);
    color: #fff;
}

.pagination .page-item.active a,
.pagination .page-item.active span {
    background: var(--bg-primary);
    color: #fff;
    border-color: var(--bg-primary);
}


.blog_sidebar .widget-tags li a {
    color: #323232;
    text-transform: capitalize;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 3px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #CCC;
    font-weight: 400;
}

.blog_sidebar .widget-tags li a:hover {
    background-color: var(--bg-primary);
    color: #fff;
}

.blog_sidebar .widget-tags li {
    display: inline-block;
}

.blog_sidebar .section-title {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Poppins';
}


.widget-list li a {
    border-bottom: 1px dashed #ddd;
    display: block;
    color: #323232;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.widget-list li a span {
    float: right;
    color: var(--bg-primary);
    font-weight: 500;
}


.single_blog h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #323232;
}

.single_blog p {
    font-size: 14px;
    color: #444;
    text-align: justify;
    line-height: 27px;
}

.post-tags ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.post-tags ul li a {
    color: #747272;
    font-weight: 600;
}

.post-tags ul li a:hover {
    color: var(--bg-primary);
}

.section-title .title {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;
    color: #323232;
}


.post-comments .media .media-left {
    position: relative;
    padding-right: 15px;
}

.media-body,
.media-left {
    display: table-cell;
    vertical-align: top;
}

.post-comments .media .media-left img {
    width: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 20;
}

.post-comments .media .media-heading h4 {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins';
}

.post-comments .media .media-heading .time {
    color: #97989b;
    margin-left: 10px;
    font-size: 12px;
}

.post-comments .media {
    margin-top: 30px;
}

.media-body p {
    margin: 0;
    font-size: 14px;
    color: #757575;
    margin-bottom: 13px;
}

.forumReply{
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    background: #8000802b;
    color: #800080;
    border-radius: 2px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    min-width: 74px;
    margin-bottom: 2px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    }
    .forumReply:hover{
        background: #800080;
        color: #fff;
    }

.post-comments .media .reply {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    background: #8000802b;
    color: var(--bg-primary);
    border-radius: 2px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    min-width: 74px;
    margin-bottom: 2px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.post-comments .media .reply:hover {
    background: var(--bg-primary);
    color: #fff;
}

.post-comments .media .media-left:after {
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    top: 62px;
    bottom: 15px;
    width: 1px;
    background-color: #80008024;
}


.post-comments .media .reply.like {
    background: #005dff47 !important;
    color: #0a6bd2;
}

.post-comments .media .reply.like:hover {
    background: #005efff8 !important;
    color: #fff;
}


.post-comments .media .reply.dislike {
    background: #dc354538 !important;
    color: var(--bs-form-invalid-border-color);
}

.post-comments .media .reply.dislike:hover {
    background: var(--bs-form-invalid-border-color) !important;
    color: #fff;
}

.post-comments .media .reply.upvote {
    background: #0165a73d !important;
    color: #0165a7;
}

.post-comments .media .reply.upvote svg {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.post-comments .media .reply.upvote:hover {
    background: #0165a7 !important;
    color: #fff;
}

.post-comments .media .reply.upvote:hover svg {
    fill: #fff;
}

/* =============================  Forums  ================================= */

.forums-heading h3 {
    font-weight: 600;
    font-family: 'Poppins';
    color: #323232;
    font-size: 16px;
    margin: 0;
}

.forums-category ul li,
.recent_topic ul li,
.recent_statistics ul li {
    border-bottom: 1px solid #f0f0f0;
}

.forums-category ul li:last-child,
.recent_topic ul li:last-child,
.recent_statistics ul li:last-child {
    border-bottom: 0;
}

.forums-category ul li a,
.recent_topic ul li a,
.recent_statistics ul li a {
    color: #777;
    font-size: 14px;
    padding: 8px 0px;
    display: block;
    transition: all 0.3s ease;
}

.forums-category ul li a:hover,
.recent_topic ul li a:hover,
.recent_statistics ul li a:hover {
    color: var(--bg-primary);
}

.forums-category ul li a span {
    float: right;
    width: 20px;
    height: 20px;
    background: #fafafa;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    font-family: 'Poppins';
    transition: all 0.3s ease;
}

.forums-category ul li a:hover span {
    background: var(--bg-primary);
    color: #fff;
}

.action-content .ans-title {
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
    color: var(--bg-primary);

}

.action-content p {
    margin: 0;
    font-size: 13px;
    color: #838383;
}

.image-wrap {
    left: 50% !important;
}

.forums_table th {
    background: #f7f8f9 !important;
    padding: 14px 10px !important;
    color: #5e5a5a !important;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 13px;
    border: none !important;
}

.forums_table td {
    font-size: 14px;
    color: #acacac;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    border-color: #f5f5f5 !important;
}

.forums_table .title {
    color: #535353;
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 500;
    display: block;
}

.forums_table .info {
    font-size: 13px;
    color: #888;
}

.forums_table .date {
    font-size: 12px;
    font-weight: 500;
}


.forums_table .user h4 {
    font-size: 13px;
    color: #787878;
    font-weight: 600;
}

.custom_table {
    min-width: 680px !important;
    border: 1px solid #EEE;
}

.forums_question h5 {
    color: #323232;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    font-family: 'Poppins';
}

.forums_question span {
    color: #AAA;
    font-family: 'Poppins', sans-serif;
}

.forums_question h2 {
    color: #323232;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


.forums_question h2 span {
    color: #323232;
    font-size: 25px;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.forums_question p {
    margin: 0;
    font-size: 16px;
    color: #888;
    padding-left: 33px;
    line-height: 27px;
}

.replies_title h3 {
    font-size: 18px;
    color: #323232;
    margin: 0;
}

.forums_ans_wrapper .user h5 {
    font-size: 16px;
    margin: 0;
    color: #323232;
    padding-bottom: 5px;
}

.forums_ans_wrapper .user span {
    color: #888;
    font-family: 'Poppins', s;
}


.forums_ans_wrapper p {
    margin: 0;
    font-size: 16px;
    color: #888;
    line-height: 27px;
}

.comment_like a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 0px 8px 0px 0px;
    vertical-align: middle;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #EEE;
}




/* Summernote Additional CSS */
.note-editable {
    background: #fff;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

.note-btn[aria-label="Help"] {
    display: none;
}

.note-editor .note-toolbar .note-color-all .note-dropdown-menu,
.note-popover .popover-content .note-color-all .note-dropdown-menu {
    min-width: 185px;
}





























































































/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
    display: none !important;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
    visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
